.userCard{
  display: flex;
  background-color: white;
  
  font-family: sans-serif;
  margin: 10px;
  max-width: 540px;
}
.photoWrapper{
  align-self: stretch;
  display: flex;
  
  --size:200px;
  /* height: var(--size); */
  width: var(--size);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
}
.userPhoto{
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center top;
  
}
.userInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.5rem;
  

}
.userName{
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5rem;
}
.userTags{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.6rem 0;
  
}
.tag{
  background-color: #d8dbda;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: 600;
  opacity: 0.7;
}

.icon{
  width: 40px;
  height: 40px; 
}
@media screen and (max-width: 576px) {
  :root {
    font-size: 28px;
  }
}
@media screen and (max-width:576px) and (orientation: portrait){
 
  .userCard{
    
    flex-direction: column;
    align-items: center;
    
    max-width: 300px;
    border-radius: 5px;
    overflow: hidden;
  }
  .photoWrapper{
    clip-path: unset;
    width: 100%;
  }
  .userLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}